

.hero--bkg {
    background-image: url('../../assets/images/hero_bkg.jpg');
    background-repeat: no-repeat;
    background-position: 0% 25%;
    height: 690px;
    // background-position: center;
    // background-repeat: no-repeat;
     background-size: cover;
    // position: relative;
    // height: 50%;

    position: fixed;
    left: 0px;
    top: -90px;
    overflow: hidden;
    z-index: -999;
    width: 100%;
}

.hero--overlay {
   background-color: rgba($color: #000000, $alpha: .4);
}

.hero__title {
    font-size: 4rem;
    margin: 0;
    color: $brand-orange;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media only screen and (max-width: $breakpoint-medium) {
    
.hero__title {
    font-size: 2rem;
    margin: 0;
   
}

.hero--bkg {
   
    background-position: 0% 90%;
    height: 490px;
    // background-position: center;
    // background-repeat: no-repeat;
     background-size: cover;
    // position: relative;
    // height: 50%;
}

.hero-text {
    top: 67%;
}
  
}

